/* Logo */

#bgsLogo{
    display: inline-block;
    margin: 0 0.5rem;
    animation: flip;
    animation-duration: 1s;
}

/* Hamburger Menu */
@media screen and (max-width:992px){
    .topNav .menu{
        transition: max-height .2s ease-out;
    }
    .topNav .menuIcon .navIcon{
        transition: background .2s ease-out;
    }
    .topNav .menuIcon .navIcon:before{
        transition: all .2s ease-out;
    }
    .topNav .menuIcon .navIcon:after{
        transition: all .2s ease-out;
    }
    .topNav #menuButton:checked ~ .menu{
        max-height: 350px;
    }
      
    .topNav #menuButton:checked ~ .menuIcon .navIcon{
        background: transparent;
    }
      
    .topNav #menuButton:checked ~ .menuIcon .navIcon:before{
        transform: rotate(-45deg);
        top: 0;
    }
      
    .topNav #menuButton:checked ~ .menuIcon .navIcon:after{
        transform: rotate(45deg);
        top: 0;
    }
}

/* banner */
@keyframes banner{
    0%{
        background-image: url('../assets/img/Banners/A\ control\ de\ plagas.jpg');
    }
    20%{
        background-image: url('../assets/img/Banners/A\ control\ de\ plagas.jpg');
    }
    21%{
        background-image: url('../assets/img/Banners/B\ limpieza\ y\ desinfeccion\ de\ tanques\ de\ agua.jpg');
    }
    40%{
        background-image: url('../assets/img/Banners/B\ limpieza\ y\ desinfeccion\ de\ tanques\ de\ agua.jpg');
    }
    41%{
        background-image: url('../assets/img/Banners/C\ limpieza\ de\ alfombras.jpg');
    }
    60%{
        background-image: url('../assets/img/Banners/C\ limpieza\ de\ alfombras.jpg');
    }
    61%{
        background-image: url('../assets/img/Banners/D\ limpieza\ de\ techos\ y\ canaletas.jpg');
    }
    80%{
        background-image: url('../assets/img/Banners/D\ limpieza\ de\ techos\ y\ canaletas.jpg');
    }
    81%{
        background-image: url('../assets/img/Banners/E\ obras\ y\ construccion.jpg');
    }
    100%{
        background-image: url('../assets/img/Banners/E\ obras\ y\ construccion.jpg');
    }
}
